@import "../../styles/global-styles.scss";

.bag-button {
  @include typeface;

  height: 36px;
  width: 200px;
  background: $light-grey;
  color: $black;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  transition: 0.1s;

  &:hover {
    background: $mid-grey;
    cursor: pointer;
  }

  &:active {
    background: $dark-grey;
    color: $light-grey;
    transition: 0;
  }

  &:focus {
    outline: none;
  }
}
