.bag-hero {
  width: 100vw;
  max-width: 1200px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  // background-position-y: 75%;

  margin: 0 auto 48px;

  img {
    width: 150px;
    position: absolute;
    top: 16px;
    left: 16px;
  }
}
