@import "../../styles/global-styles/terra.scss";

.bag-chooser {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  opacity: 1;
  animation: fadein 0.5s linear;

  &__location-button-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 48px;
    justify-content: space-around;
    max-width: 500px;
  }

  &__get-location-from-browser-wrapper,
  &__choose-location-wrapper {
    margin: 0 auto 88px;
    position: relative;
    box-sizing: border-box;
    width: 316px;
    height: 48px;
  }

  &__location-header {
    text-align: center;
    margin-bottom: 16px;
  }

  &__loader {
    width: 70px;
    transform: translateY(16px);
  }

  &__getting-text {
    margin: 0;
    height: 36px;
    line-height: 36px;
    transform: translateY(-26px);
  }

  &__location-found {
    text-align: center;
    font-weight: 700;
  }

  &__dropdown-label {
    text-align: center;
    margin-bottom: 16px;
  }

  &__dropdowns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 700px;
    margin: auto;
  }

  .ter-search-select {
    width: 250px;

    &:first-child {
      margin-right: 16px;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
