@import "terra-component-lib/dist/global-styles/global-terra.scss";

.App {
  padding-bottom: 120px;

  &__loading-logo {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 120px;
    z-index: 0;
  }

  .ter-search-select__options-list {
    z-index: 5;
  }
}
